*{  
    margin: 0;
    padding : 0;
}
@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}


h1 {
    font-family: 'DOSPilgiMedium', sans-serif;
    padding:30px;
    margin: 10px;
    text-align: center;
}

.name{
    font-family: 'DOSPilgiMedium', sans-serif;
    font-weight: 500px;
}

.form_wrap {
    font-family: 'DOSPilgiMedium', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 216, 233);
    border: 20px solid rgb(173, 216, 233);
}

fieldset {
    width: 100px; 
    height: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px; 
}

#submit{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    position: absolute;
    bottom: 10px;
    left: 45%;

}