*{  
    margin: 0;
    padding : 0;
}

table{
    border-collapse: collapse;
}


caption{
    display: none;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline;
}

a:hover{
    text-decoration: none;
}

.board_wrap{
    width:800px;
    margin:100px auto;
}

.border_top{
    position: relative;
    font-family: "Lato", sans-serif;
    
}

.board_top h1{
    float: left;
    padding: 20px;
}

.board_top a.topbt{
    float: right;
    display: inline-block;
    margin: 30px 10px;
    padding: 10px 10px;
    border-radius: 2px;
    font-size: 12px;
    background: white;
    color: rgb(105, 171, 105);
    font-weight: 600;
}
.board_top a.topbt:hover{
    background: rgb(105, 171, 105);
    color: white;
}


.board_list_wrap{
    padding: 10px;
}

.board_list{
    width :100%;
    border-top: 3px solid rgb(19, 113, 19);
}

.board_list tr{
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td{
    padding : 10px;
    font-size: 14px;
   
}

.board_list th{
    text-align: left;
}

.board_list td:hover{
    text-decoration: underline;
}

.board_list_wrap .edit{
    width : 25px;
    height: 25px;
}
.board_list_wrap .delete{
    width : 25px;
    height: 25px;
}

.board_list_wrap .paging{
    text-align: center;
    margin-top: 20px;
    font-size: 0;
}

.board_list_wrap .paging a{
    display: inline-block;
    font-size: 12px;
}

.board_list_wrap .paging a:first-child{
    margin-left: 0;
}

.board_list_wrap .paging .first_bt{
    border: 1px solid #eee;
    background: #eee;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 28px;
    height: 27.5px;

}

.board_list_wrap .paging .left_bt{
    border: 1px solid #eee;
    background: #eee;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 28px;
    height: 27.5px;
}

.board_list_wrap .paging .right_bt{
    border: 1px solid #eee;
    background: #eee;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 28px;
    height: 27.5px;
}

.board_list_wrap .paging .last_bt{
    border: 1px solid #eee;
    background: #eee;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 28px;
    height: 27.5px;
}

.board_list_wrap .paging a.num{
    padding: 5px 10px;
    border: 0.5px solid #000;
    font-weight: 600;
    

}

.board_list_wrap .paging a.num.on{
    background: rgb(141, 180, 141);
}

.board_list_wrap .add{
    text-align: center;
    margin-top: 40px;
    font-size: medium;
}

.board_list_wrap .add a{

    border: 5px solid rgb(49, 111, 49);
    width: 20px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background: rgb(49, 111, 49);
    color: white;
    
}
