/* 화면 너비가 768px 이하인 경우 */
@media (max-width: 768px) {
    .board_rap{width: 50%;}
    .board_top {width: 50%;}
    .board_list_wrap {width: 50%;}
}

/* 화면 너비가 1024px 이하인 경우 */
@media only screen and (max-width: 1024px) {
    .board_top {width: 100%;}
    .board_list_wrap {width: 100%;}
}
