@import url(index.css);


.board_view_wrap{
    padding: 10px;
}

.board_view{
    padding:80px;
    width :100%;
}

.board_view p{
    padding: 10px;
    font-size:14px;
    text-align: left;

}

.bt_wrap{
    text-align: center;
    margin-top: 20px;
}

.bt_wrap a{

    border: 2px solid rgb(90, 163, 90);
    width: 20px;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    font: size 1.4rem;
    min-width: 80px;
}

.bt_wrap a.edit{
    background-color: rgb(90, 163, 90);
    color:white;
}

.bt_wrap a.edit:hover{
    background-color: white;
    color:black;
}

.bt_wrap a#delete:hover{
    background-color: rgb(90, 163, 90);
    color: white
}
